<header>
  <div class="d-flex">
    <%= user_avatar current_user, class: 'avatar-img rounded-circle' %>
    <div class="ms-4">
      <h2><%= current_user.name %></h2>
      <p class="btn btn-primary">Create arrow</p>
    </div>
  </div>
</header>
<section class="arrows-grid">
  <div class="border border-3 w-100" style="background-color: red">hola</div>
  <div class="border border-3 w-100" style="background-color: red">hola</div>
  <div class="border border-3 w-100" style="background-color: red">hola</div>
  <div class="border border-3 w-100" style="background-color: red">hola</div>
  <div class="border border-3 w-100" style="background-color: red">hola</div>
  <div class="border border-3 w-100" style="background-color: red">hola</div>
  <div class="border border-3 w-100" style="background-color: red">hola</div>
  <div class="border border-3 w-100" style="background-color: red">hola</div>
</section>
